# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Git
.git/
.gitignore

# IDE configs
.vscode/
.idea/

# App runtime folders
uploads/
results/

# Environment files
.env
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
runs/
datasets/
*.dll
*.so
*.zip
*.mp4
*.jpg
*.png

# Ignore model training folders
train/
val/
notebooks/
data/

# Important: allow ONLY best.pt
model/*
!model/best.pt

